<nav id="menu" data-initialized-menu="true" style>
  <ul class="navigation">
    <li ng-class="{ active:placeMark === '/'}">
      <a href="/" class="navlink">
        Home
      </a>
    </li>
    <li ng-class="{ active:placeMark === '/about'}">
      <a href="/about" class="navlink">
        About
      </a>
    </li>
    <li ng-class="{ active:placeMark === '/sandbox'}">
      <a href="/sandbox" class="navlink">
        Sandbox
      </a>
    </li>
    <li ng-class="{ active:placeMark === '/work'}">
      <a href="/work" class="navlink">
        Work
      </a>
    </li>
  </ul>
</nav>