/* Inspiration: https://dribbble.com/shots/1925708-Emojis */
// @import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import "main/variables";

// body {
//     background-color: $color4;
// }

*, *:before, *:after {
  // box-sizing: border-box;
}

.page-title {
  position: absolute;
  top: 25%;
  left: 25%;
  font-family: 'Helvetica';
  font-size: 55px;
  color: white;
  text-align: center;
  text-shadow: 4px 4px 4px #000;
}
.page-subtitle {
  position: absolute;
  top: 50%;
  left: 25%;
  font-family: 'Helvetica Neue', cursive;
  font-size: 30px;
  color: white;
  text-shadow: 4px 4px 4px #000;
  text-align: center;
}

.main-body {
  // position: absolute;
  // top: 0;
  background-image: url("../assets/images/AKLCtree.jpg");
  background-position: center;
  // opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 150px 0 150px 60px;
  // padding: 10% 0;
  width: calc(100% - 60px);
  height: 400px;
  box-shadow: 5px 5px 5px 0;
}

#big-box {
  width: 90000px;
  // background: red;
  color: white;
  // height: 200px;
  display: inline;
  font-size: 300px;
  white-space: nowrap;
}