html, body, div.ng-scope {
  // height: 100%;
  // width: 100%;
}

.body {
  padding: 0 0 0 60px;
  margin: 0;
  // background: rgba(17, 0, 17, 0.2);
  height: 105%;
  width: 100%;
}

.active {
  border-right: 3px solid black;
  font-size: 110%;
}

#menu {
  transition: all 250ms ease-out 0s;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 900;
  width: 40px;
  .navigation {
    transform: translate3d( 0px, 0px, 0);
    transition: all 300ms ease-in 500ms;
    // background-color: rgba( 17, 17, 17, 0.8);
    background-color: rgba( 255, 255, 255, 0);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 40px;
    li {
      box-sizing: border-box;
      display: block;
      margin: 0;
      height: 25%;
      position: relative;
      text-align: center;
      width: 100%;
      a {
        font-size: 14px;
        letter-spacing: 4.4px;
        line-height: 14px;
        transform:  rotate(-90deg)
                    translate3d(-50%, -50%, 0);
        transition: opacity 250ms ease-out 0s;
        // color: #fff;
        color: #000;
        opacity: 0.9;
        font-family: "Helvetica Neue", "Helvetica Geneva";
        font-weight: 800;
        left: 50%;
        position: absolute;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        top: 50%;
        transform-origin: 0% 0%;
        vertical-align: middle;
      }
    }
  }
}